body {
    max-width: 100%;
    overflow-x: hidden;
}

.img-logo {
    width: 50px;
    margin-right: 50px;
}

.carousel-item img {
    height: 550px;
    background-position: center;
}

.info {
    margin-top: -65px;
}

.section1 {
    background-color: #ffffff;
    padding-bottom: 20px;
}

.section1 .card {
    background-color: #6C757D;
    color: #ffffff;
}

.img-partner {
    background-size: cover;
    width: 110px;
}

.section2 {
    background-color: #6b6b6b;
    color: #ffffff;
    letter-spacing: 1.5px;
}

.section3 {
    background-color: #ffffff;
    color: #000000;
}

.section4 {
    background-color: #6b6b6b;
    color: #ffffff;
}

.section5 {
    background-color: #ffffff;
    color: #000000;
}

.card-custom {
    min-height: 100px;
}

.footer {
    background-color: #343A40;
    color: #ffffff;
}

.footer a {
    color: #ffe600;
}

@media only screen and (max-width: 600px) {
    .carousel-item img {
        height: 40vh;
    }

    .info {
        margin-top: -50px;
    }

    .img-partner {
        background-size: cover;
        width: 80px;
    }

    .section1 {
        background-color: #6b6b6b;
    }

    .section1 .card {
        background-color: #ffffff;
        color: #000000;
    }

    .title-partner {
        color: #ffffff;
    }

    .section2 {
        background-color: #ffffff;
        color: #000000;
    }

    .section3 {
        background-color: #6b6b6b;
        color: #ffffff;
    }

    .section3 .card-body {
        color: #000000;
    }

    .section4 {
        background-color: #ffffff;
        color: #000000;
    }

    .section5 {
        background-color: #6b6b6b;
        color: #ffffff;
    }

    .footer {
        background-color: #ffffff;
        color: #000000;
    }

    .footer a {
        color: #c13aff;
    }
}